@page
@model IndexModel
@{
    ViewData["Title"] = "Consulta Livros";
}

<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Autor</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody class=".table-striped">
            @foreach (var livros in Model.LivrosList)
            {
                <tr>
                    <td>@livros.Codigo</td>
                    <td>@livros.Nome</td>
                    <td>@livros.Autor</td>
                    <td>
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@livros.Id">Editar</a>
                        <button class="btn btn-danger" type="submit" asp-page-handler="delete" asp-route-id="@livros.Id">Deletar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a class="btn btn-info" asp-page="./Create">Cadastrar</a>
</form>

